{% extends "layout.html" %}

{% block title %}
    Delete account
{% endblock %}

{% block main %}



<h3 class="text-danger">Are you sure you want to delete your account?</h3>
<h5 class="text-danger">This operation can not be undone.</h5>

<form action="/delete" method="post">
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Enter your password" type="password">
    </div>
    <button class="btn btn-danger text-uppercase" type="submit">delete my account</button>
</form>
{% endblock %}
